@import url('galllery.css');

body {
    background-image: linear-gradient(120deg, #000000 0%, #555151 100%);
    opacity: -10px;
    background-size: cover;
    background-position: center;
    height: auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    transition: all 0.7s;
    z-index: 9;
    
}
.header .wrap{
    width: 1140px;
    max-width:100%;
    margin:auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    display: flex;
     border: 20px 0px;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 16px 0;;
}
.header .logo .span{
    color: aqua;

}

/* .header .logo a,
.header .logo a img{
    display: block;
}
.header .logo img{
    width: 140px;
    margin-top: -38px;
}   */
.header .menu ul{
    display: flex;
}

.header .menu a{
    font-size: 1.2rem;
    color: rgb(214, 196, 176);
    padding: 20px;
    display: block;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}

.header .menu a:hover{
    color:rgb(76, 192, 255);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.header .sidemenu-toggler{
    position: absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
}
.header .sidemenu-toggler > span{
    display: block;
    background-color: white;
    height: 2px;
}

.header .sidemenu-toggler > span:nth-child(2) {
    margin: 4px 0 4px auto;
    width: 75%;
    transition: 0.3s all;
}

.header .sidemenu-toggler > span:nth-child(3) {
    margin-left: auto;
    width: 30%;
    transition: 0.6s all;
}

.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
    width: 100%;
}

.header .sidemenu{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(42, 44, 46, 0.399);
    box-shadow: 0 8px 32px 0 rgba(11,11,11,0.37);
    backdrop-filter: blur(34px);
    border: 1px solid rgba(255,255,255,0.18);
    width:20%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    
    transform: translate3d(100%,0,0);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}
.header .sidemenu .a{
    color:rgb(129, 8, 8);

}
.header .sidemenu a:hover{
    color:rgb(255, 76, 109);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.header .sidemenu.active{
    transform: translate3d(0,0,0);
}
.header .sidemenu .close{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
}

.header .sidemenu .close::after,
.header .sidemenu .close::before{
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width:2px;
    background: white;
}
.header .sidemenu .close::before{
    transform: rotate(45deg);
}

.header .sidemenu .close::after{
    transform: rotate(-45deg);
}

.header .sidemenu nav ul{
    padding-top: 30px;

}

.header .sidemenu nav li{
    padding: 15px 0;
}
.header .sidemenu nav a{
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.header footer{
    color:rgb(40, 5, 5);
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 100px;



}
footer {
    background-color:  #0000004e 
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}
footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: antiquewhite;
}

footer p{
    font-size: 13px;
    margin:   0 0 8px 0;
    color: rgb(177, 176, 175);
}

footer a {
    font-size: 13px;
   text-decoration: none;
   color: rgb(177, 176, 175);
    margin-bottom: 10px;
}
footer .follow{
    margin-bottom: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
    color: #ff0015;
}
footer .copyright{
    width: 100%;
    text-align: center;
    
}